
#include <windows.h>
#include <commctrl.h>
#include <winuser.h>
#include "wizards.h"
#include "resources.h"

IDD_USBWIZ_PAGE1 DIALOGEX DISCARDABLE 0, 0, 317,180
STYLE DS_SHELLFONT | WS_CHILD | WS_VISIBLE | WS_BORDER
FONT 9, "MS Shell Dlg"
CAPTION "Create a USB Drive"
BEGIN
    LTEXT "This wizard will help you create a portable USB drive containing "
          "Snappy Driver Installer and selected files.\n\n"
          "The files will be copied to the root directory of the selected device. "
          "You should ensure the device has sufficient capacity to store the "
          "required files. You will be given the option to clear the device first."
          ,IDC_USBWIZ_PAGE1_DESC,140,55,160,140
END

IDD_USBWIZ_PAGE2 DIALOGEX DISCARDABLE 0,0,317,140
STYLE DS_SHELLFONT | WS_CHILD | WS_VISIBLE | WS_BORDER
FONT 9, "MS Shell Dlg"
{
    LTEXT "Snappy Driver Installer will be installed into the root "
          "directory of the selected removable drive. Insert your USB drive now."
          ,IDC_USBWIZ_PAGE2_DESC,20,0,280,20
    LTEXT "Select target removable drive:",IDC_USBWIZ_PAGE2_DRIVE,20,28,100,12
    COMBOBOX IDC_USBWIZ_PAGE2_COMBO,120,26,160,120,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
    AUTOCHECKBOX "Show more drives",IDC_USBWIZ_PAGE2_MORE,120,36,100,12,WS_TABSTOP
    GROUPBOX "Clear Selected Drive",IDC_USBWIZ_PAGE2_CLEAR,100,50,215,62
    PUSHBUTTON "Delete Files",IDC_USBWIZ_PAGE2_DELETE,106,64,78,16
    LTEXT "Delete all files and folders on the drive.",IDC_USBWIZ_PAGE2_DELETEDESC,188,64,117,20
    PUSHBUTTON "Quick Format",IDC_USBWIZ_PAGE2_FORMAT,106,88,78,16
    LTEXT "Perform a quick format of the drive.",IDC_USBWIZ_PAGE2_FORMATDESC,188,88,117,20

    LTEXT "Space Required: ",IDC_USBWIZ_PAGE2_SPACEREQ,210,120,60,12
    RTEXT "0 MB",IDC_USBWIZ_PAGE2_SPACEREQ_VAL,270,120,45,12
    LTEXT "Space Available: ",IDC_USBWIZ_PAGE2_SPACEAVAIL,210,132,60,12
    RTEXT "0 MB",IDC_USBWIZ_PAGE2_SPACEAVAIL_VAL,270,132,45,12
}

IDD_USBWIZ_PAGE3 DIALOGEX DISCARDABLE 0,0,317,140
STYLE DS_SHELLFONT | WS_CHILD | WS_VISIBLE | WS_BORDER
FONT 9, "MS Shell Dlg"
{
    LTEXT "Select DriverPacks to include:",IDC_USBWIZ_PAGE3_SELECT,20,0,200,12
    AUTORADIOBUTTON "All DriverPacks and indexes",IDC_USBWIZ_PAGE3_ALLPACKS,35,12,200,12,WS_GROUP|WS_TABSTOP
    AUTORADIOBUTTON "Network DriverPacks and indexes",IDC_USBWIZ_PAGE3_NETWORK,35,24,200,12,WS_TABSTOP
    AUTORADIOBUTTON "Selected DriverPacks and indexes",IDC_USBWIZ_PAGE3_SELECTED,35,36,200,12,WS_TABSTOP
    AUTORADIOBUTTON "No DriverPacks",IDC_USBWIZ_PAGE3_NOPACKS,35,48,200,12,WS_TABSTOP
    LTEXT "Specify additional driver directory",IDC_USBWIZ_PAGE3_ADDPATH,20,68,200,12
    EDITTEXT IDC_USBWIZ_PAGE3_PATHEDIT,20,78,280,12,WS_TABSTOP
    PUSHBUTTON "...",IDC_USBWIZ_PAGE3_PATHBUTTON,301,78,12,11,WS_TABSTOP
    AUTOCHECKBOX "Include online indexes",IDC_USBWIZ_PAGE3_INDEXES,20,96,200,12,WS_TABSTOP
    LTEXT "Space Required: ",IDC_USBWIZ_PAGE3_SPACEREQ,210,120,60,12
    RTEXT "0 MB",IDC_USBWIZ_PAGE3_SPACEREQ_VAL,270,120,45,12
    LTEXT "Space Available: ",IDC_USBWIZ_PAGE3_SPACEAVAIL,210,132,60,12
    RTEXT "0 MB",IDC_USBWIZ_PAGE3_SPACEAVAIL_VAL,270,132,45,12
}

IDD_USBWIZ_PAGE4 DIALOGEX DISCARDABLE 0,0,317,140
STYLE DS_SHELLFONT | WS_CHILD | WS_VISIBLE | WS_BORDER
FONT 9, "MS Shell Dlg"
{
    LTEXT "Languages",IDC_USBWIZ_PAGE4_LANGS,10,0,100,12
    AUTORADIOBUTTON "Include all languages",IDC_USBWIZ_PAGE4_ALLLANG,25,12,100,12,WS_GROUP|WS_TABSTOP
    AUTORADIOBUTTON "Current language",IDC_USBWIZ_PAGE4_CURLANG,130,12,100,12,WS_TABSTOP
    LTEXT "Themes",IDC_USBWIZ_PAGE4_THEMES,10,26,190,12
    AUTORADIOBUTTON "Include all themes",IDC_USBWIZ_PAGE4_ALLTHEME,25,38,100,12,WS_GROUP|WS_TABSTOP
    AUTORADIOBUTTON "Current theme",IDC_USBWIZ_PAGE4_CURTHEME,130,38,100,12,WS_TABSTOP
    AUTORADIOBUTTON "Default theme",IDC_USBWIZ_PAGE4_DEFTHEME,235,38,100,12,WS_TABSTOP
    LTEXT "Configuration",IDC_USBWIZ_PAGE4_CONFIG,10,52,90,12
    AUTOCHECKBOX "Enable expert mode",IDC_USBWIZ_PAGE4_EXPERT,25,64,180,12
    AUTOCHECKBOX "Don't check for updates",IDC_USBWIZ_PAGE4_NOUPD,25,76,180,12
    AUTOCHECKBOX "Don't create snapshots",IDC_USBWIZ_PAGE4_NOSNAP,25,88,180,12
    AUTOCHECKBOX "Don't create log files",IDC_USBWIZ_PAGE4_NOLOG,25,100,180,12
    AUTOCHECKBOX "Include autorun.inf and SDI_auto.bat",IDC_USBWIZ_PAGE4_INCAUTO,25,112,180,12
    LTEXT "Executable Size:",IDC_USBWIZ_PAGE4_EXESIZE,20,132,80,12
    LTEXT "0 MB",IDC_USBWIZ_PAGE4_EXESIZE_VAL,100,132,50,12
    LTEXT "Space Required: ",IDC_USBWIZ_PAGE4_SPACEREQ,210,120,60,12
    RTEXT "0 MB",IDC_USBWIZ_PAGE4_SPACEREQ_VAL,270,120,45,12
    LTEXT "Space Available: ",IDC_USBWIZ_PAGE4_SPACEAVAIL,210,132,60,12
    RTEXT "0 MB",IDC_USBWIZ_PAGE4_SPACEAVAIL_VAL,270,132,45,12
}

IDD_USBWIZ_PAGE5 DIALOGEX DISCARDABLE 0,0,317,140
STYLE DS_SHELLFONT | WS_CHILD | WS_VISIBLE | WS_BORDER
FONT 9, "MS Shell Dlg"
{
    LTEXT "We have all the information we need. When you click the Finish button "
          "the process will begin."
          ,IDC_USBWIZ_PAGE5_DESC,140,35,160,80
}
